<%= form_for(@project) do |f| %>
<% if @project.errors.any? %>
<%= render partial: "shared/errors", locals: { resource: @project } %>
<% end %>

<div class="form-group">
                <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :type %>
            <%= f.text_field :type, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :goal %>
            <%= f.text_field :goal, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :current_money %>
            <%= f.text_field :current_money, :class => "form-control" %>
    </div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
