<%= form_for(@company) do |f| %>
<% if @company.errors.any? %>
<%= render partial: "shared/errors", locals: { resource: @company } %>
<% end %>

<div class="form-group">
                <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :score %>
            <%= f.text_field :score, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :rut %>
            <%= f.text_field :rut, :class => "form-control" %>
    </div>
<div class="form-group">
                <%= f.label :category %>
            <%= f.text_field :category, :class => "form-control" %>
    </div>
<div class="actions">
    <%= f.submit :class => "btn btn-success" %>
</div>
<% end %>
