<%= form_for(@company, html: { multipart: true }) do |f| %>
<% if @company.errors.any? %>
<%= render partial: "shared/errors", locals: { resource: @company } %>
<% end %>

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= image_tag @company.avatar.url(:medium), :class => "wide" %>
            </div>
        </div>        
    </div>
    <div class="col-sm-9">

        <div class="form-group">
            <%= label :company, "Foto de perfil" %>
            <%= file_field :company, :avatar, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :razon_social %>
            <%= f.text_field :razon_social, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :rut %>
            <%= f.text_field :rut, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :descripcion %>
            <%= f.text_area :descripcion, :class => "form-control" %>
        </div>
        <div class="actions">
            <%= f.submit :class => "btn btn-success" %>
        </div>

    </div>
</div>


<% end %>
