<%= render "header" %>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-toolbox">
				<div class="panel-title">
					Detalle
				</div>
				<div class="panel-toolbar">
					<%= link_to 'Volver', companies_path, :class => "btn btn-link" %>
					<!--<%= link_to edit_company_path(@company), :class => "btn btn-default" do %><i class="fa fa-pencil"></i> Editar<% end %>
					<%= link_to @company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %><i class="fa fa-trash-o"></i> Eliminar<% end %>-->
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<%= image_tag @company.img_url, :class => "wide" %>
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th><%= t(:name, scope: [:helpers, :label, :company]) %></th>
									<td><%= @company.razon_social %></td>
								</tr>
								<tr>
									<th><%= t(:score, scope: [:helpers, :label, :company]) %></th>
									<td>
										<div class="rating" style="width:100%;"></div>
									</td>
									<script type="text/javascript">
									$('.rating').raty({ starType: 'i',
										readOnly : true, 
										score: 3.3,
										size: 12,
									}).css("width","100%");
									</script>
								</tr>
								<tr>
									<th><%= t(:rut, scope: [:helpers, :label, :company]) %></th>
									<td><%= @company.rut %></td>
								</tr>
								<tr>
									<th><%= t(:category, scope: [:helpers, :label, :company]) %></th>
									<td>
										<ul class="tags" style="margin-left: -40px;">
											<% @company.tags.each do |tag| %>
											<li class="label label-info"><%= tag %></li>
											<% end %>
										</ul>
									</td>
								</tr>
								<tr>
									<th>Comuna</th>
									<td><%= @company.comuna %></td>
								</tr>
								<tr>
									<th>Dirección</th>
									<td><%= @company.direccion %></td>
								</tr>
								<tr>
									<th>Descripción</th>
									<td><%= @company.descripcion %></td>
								</tr>
							</tbody>
						</table>
						<br>
						<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Contactar</button>

						<!-- Modal -->
						<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Contactar</h4>
									</div>
									<div class="modal-body">
										<label>Nombre</label>
										<input class="form-control" placeholder="Ej: Mario ...">
										<br>
										<label>Datos de contacto</label>
										<input class="form-control" placeholder="Correo">
										<br>
										<input class="form-control" placeholder="Teléfono">
										<label>Mensaje</label>
										<textarea style="resize:none;" rows=5 class="form-control" placeholder=""></textarea>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
										<button type="button" class="btn btn-success" data-dismiss="modal">Enviar</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
